html {
    font-family: 'Open Sans', sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h3 {
   text-decoration: underline;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding-right: 75px;

}

.intro {
    display: flex;
}