html {
    font-family: 'Open Sans', sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation li {
    display: inline;
    padding-right: 75px;
}

.navigation ul {
    list-style-type: none;
}

.logo h3 {
    text-decoration: underline;
}





.intro {
    display: flex;
}

/*  This is also a comment 
  To do: 
    - uplaod the navigation 


*/ 